*{
   padding: 0px;
   margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.section-title{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
}
.btn-primary{
    font-size: 16px;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 30px;
    border: none;
    color: white;
    text-align: center;
}
.btn-primary i{
    color: white;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
}
header{
    padding: 50px 0px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}
nav > ul{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
}
nav i{
    padding-top: 5px;
    margin-right: 5px;
}
.vertical{
    display: flex;
    gap: 20px;
}
.title{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    align-items: center;
}
.content{
    max-width: 650px;
    margin-right: 50px;
}
.content h1{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}
.back{
    margin-top: 50px;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
/* header   */
main{
    padding: 100px 0px;
}
.image-box{
   background-color: #f8dbdb;
   padding: 20px 0px;
   max-width: 1100px;
   margin: 0px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   border-radius: 10px;
}
/*  image box  */
.collection{
    padding: 100px 0px;
}
.sub-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin: 30px;
}
.card{
    max-width: 330px;
    height: auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.sub-heading{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}
.small-heading{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.icon{
    color: #5E6366;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.icon i{
    color: #FB8200;
    font-size: 14px;
}
.description{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.card img{
    width: 100%;
}
.see-more{
    text-align: end;
    padding-right: 150px;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}
.see-more i{
    margin-left: 10px;
}
/* container card  */
.feature-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.feature-content{
    max-width: 750px;
    margin-top: 30px;
}
.feature-content h3{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}
.feature-content p{
    max-width: 600px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.feature-img{
    padding-left: 100px;
}

.btn2-primary{
    font-size: 16px;
    background: #E02C6D;
    padding: 10px 30px;
    border: none;
    color: white;
    text-align: center;
}
.btn2-primary i{
    color: white;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
}




/*  small   */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .banner, .vertical, .image-box, .card-container, .feature-container{
        flex-direction: column;
    }
    .back img{
        width: 100%;
    }
    .content{
        padding: 40px;
    }
    .vertical{
        gap: 20px;
    }
    .image-box{
        padding: 10px;
    }
    .feature-img{
        margin-right: 50px;
    }
    .feature-content{
        padding: 20px
    }
    
}



/*  medium    */
@media screen and (max-width: 576px) and (max-width: 990px) {
    header{
        padding: 30px;
    }
    nav, .banner, .vertical, .image-box, .card-container, .feature-container{
        flex-direction: column;
    }
    .content{
        padding: 20px;
    }
    .banner{
        padding: 30px;
    }
    .vertical{
        gap: 20px;
    }
    .feature-content{
        margin: 20px;
    }
    .image-box{
        padding: 0px 30px;
    }

    
}
